/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo para o link */
.link a {
    color: #000000; /* Cor preta */
    text-decoration: none; /* Remove sublinhado padrão do link */
    font-weight: bold; /* Deixa o texto em negrito */
    transition: color 0.3s ease-in-out; /* Transição suave para a mudança de cor */
}

.link a:hover {
    color: #FFD700; /* Muda para cor ouro ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    position: relative; /* Garante que o header seja o contêiner para posicionamento absoluto */
}

.header-logo {
    position: absolute;
    top: 20px; /* Ajuste a distância do topo conforme necessário */
    left: 20px; /* Ajuste a distância da borda esquerda conforme necessário */
}

.header-logo img {
    width: 50px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    filter: invert(1); /* Inverte as cores da imagem (preto para branco) */

}

.header-logo a:hover img {
    transform: scale(2.1); /* Amplia a imagem ao passar o mouse */
    filter: invert(0.8); /* Ajusta a inversão de cores ao passar o mouse (opcional) */
}

/* Opcional: Se você quiser um ajuste adicional para a responsividade */
@media (max-width: 768px) {
    .header-logo {
        top: 10px; /* Ajuste para telas menores */
        left: 10px; /* Ajuste para telas menores */
    }

    .header-logo img {
        width: 30px; /* Reduz o tamanho da imagem em telas menores */
    }
}


header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}

.section {
    padding: 40px 0;
    text-align: center;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: all 0.3s;
}

.section h2::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ffd700;
    bottom: 0;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease;
}

.section h2:hover::after {
    width: 100%;
    left: 0;
}

.project-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-item {
    background: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s;
}

/* Estilo para a galeria de projetos */
.project-gallery {
    display: flex; /* Usado para alinhar os itens da galeria horizontalmente */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha, se necessário */
    gap: 20px; /* Espaçamento entre os itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
    padding: 20px; /* Adiciona um padding interno */
}

.project-gallery a {
    display: block; /* Faz com que o link ocupe o espaço total do item */
    border-radius: 10px; /* Bordas arredondadas para o contêiner do link */
    overflow: hidden; /* Garante que a imagem não ultrapasse as bordas do contêiner */
    transition: transform 0.3s ease-in-out; /* Transição suave ao passar o mouse */
}

.project-gallery img {
    width: 100%; /* Faz com que a imagem ocupe 100% da largura do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaços em branco abaixo da imagem */
    border-radius: 10px; /* Bordas arredondadas para a imagem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave ao redor da imagem */
}

.project-gallery a:hover {
    transform: scale(1.05); /* Amplia o link e a imagem ao passar o mouse */
}

/* Estilo para o GIF */
.gallery-image {
    width: 100%; /* Define que o GIF ocupará 100% da largura do container pai */
    max-width: 500px; /* Limita a largura máxima do GIF */
    height: auto; /* Mantém a proporção do GIF */
    display: block; /* Remove espaços em branco abaixo do GIF */
    margin: 0 auto; /* Centraliza o GIF horizontalmente */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave ao redor do GIF */
    transition: transform 0.3s ease-in-out; /* Animação suave ao passar o mouse */
}

.gallery-image:hover {
    transform: scale(1.05); /* Amplia o GIF ao passar o mouse */
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilo para a seção de contato */
#contact {
    padding: 40px 0;
    background-color: #f4f4f4;
    text-align: center;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
}

.contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.contact-link img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.contact-link:hover img {
    transform: scale(1.1);
}

.contact-link:hover {
    color: #ffd700;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .contact-links {
        flex-direction: column; /* Empilha os ícones verticalmente */
        align-items: center; /* Centraliza os ícones horizontalmente */
    }

    .contact-link img {
        width: 30px; /* Reduz o tamanho dos ícones em telas menores */
        height: 30px; /* Mantém a proporção dos ícones */
        margin-right: 0; /* Remove a margem à direita */
        margin-bottom: 10px; /* Adiciona margem inferior para espaçamento entre ícones */
    }
}


form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #555;
}

@media (max-width: 768px) {
    .project-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-links {
        flex-direction: column;
        align-items: center;
    }
}

/* Estilo para a página Sobre Mim */
#about-me {
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.about-photo {
    flex: 1;
    margin: 10px;
}

.about-photo img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-details {
    flex: 2;
    margin: 10px;
    text-align: left;
}

.about-details h3 {
    font-size: 1.5em;
    margin-top: 20px;
}

.about-details ul {
    list-style: none;
    padding: 0;
}

.about-details ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }
}
